/*div {
  background-color: red;
}*/

/*.myDiv {
  background-color:pink;
}

#myDivOne,
#myDivTwo {
  background-color: aqua;
}

#myDivThree {
  background-color: rgb(30, 239, 48);
  color: white;
  padding: 14px;
}
